*{
         box-sizing: border-box;
      }
      html, body {
      
         margin: 0;
         padding: 0;
      }
      .container {
        
         margin: 11px;
      }
      input[type="radio"] {
         display: none;
      }
      .cat{
        color:white;
     text-align:center;
     -webkit-animation: slide 1s normal ease-in-out  0s 1 both;
      }
      .container {
        height:100vh;
        border:none;
        width:auto;
      }
      label {
        box-shadow:3px 3px 3px solid black;
        border-radius:5px;
         display: block;
         padding: 10px;
         border-bottom: 1px solid black;
         color: white;
         background: #0076ff;
         z-index: 1; 
      }
      label:hover{
        background:green;
      }
      
      .accordion:last-child > label, .accordion:last-child > .accordion-content {
         border: none;
      }
      
      .accordion-content {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:space-evenly;
        -webkit-animation: bottom 1.5s normal  ease-in-out 0s 1 both;
        border-radius:5px;
        color:black;
        flex:1;
         border-bottom: 1px solid black;
         padding: 0;
         opacity: 0;
         max-height:100px;
         overflow: scroll;
         z-index: -1;
         transition: 0.4s linear;

      }
      input:checked ~ .accordion-content {
         padding:25px;
         text-align:left;
         opacity: 1;
         max-height:auto;
         z-index: 0;
         background-image:url("ani.jpg");
      }
    .a{
      -webkit-animation: bottom 1.5s normal  0s 1 both;
    }
    .ac{
      -webkit-animation: bottom 2s normal  0s 1 both;
    }
    .acc{
      -webkit-animation: bottom 2.5s normal  0s 1 both;
    }
    .acco{
      -webkit-animation: bottom 3s normal  0s 1 both;
    }
    .accor{
      -webkit-animation: bottom 3.5s normal  0s 1 both;
    }
    .accord{
  -webkit-animation: bottom 4s normal  0s 1 both;
    }
    .accordi{
      -webkit-animation: bottom 4.5s normal  0s 1 both;
    }
    a:hover{
    cursor:none;
    }
    .ab{
      width:80px;
      gap:10rem;
      font-weight:bolder;
    font-size:11px;
      flex:1;
      width:50%;
      text-decoration:none;
      color:white;
    }
    body {
      background:black;
    }
    .flex{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:space-evenly;
    }
 
   img {
  filter: saturate(150%); 
    -webkit-filter: vivid(500%); 
    -moz-filter: saturate(150%);
  max-width:90%;
  height:auto;
   border-radius:10px;
   width:60px;
   height:60px;
 }
     @-webkit-keyframes bottom{
  from{
  -ms-webkit-transform:translate(0px, 1000px);
  -webkit-transform:translate(0px, 1000px);
  transform:translate(0px, 1000px);
}
}

     @-webkit-keyframes slide{
  from{
  -ms-webkit-transform:translate(1000px, 0px);
  -webkit-transform:translate(1000px, 0px);
  transform:translate(1000px, 0px);
}
}

@media only screen and(orientation:landscape){p{font-size:18px;}}